## Data Preprocessing for ANN

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
data = pd.read_csv("BankCustomers.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [20]:
geography = pd.get_dummies(data['Geography'],drop_first=True)

In [21]:
gender = pd.get_dummies(data['Gender'],drop_first=True)

In [22]:
data=pd.concat([data,geography,gender],axis=1)
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain,Male
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,False,False,True
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,False,False,True
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1,False,False,False
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,True,False,True
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,False,False,False

In [23]:
data =data.drop(['Geography','Gender','RowNumber','CustomerId','Surname'],axis=1)

In [24]:
X = data.drop(['Exited'],axis=1)
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,False,False,False

In [25]:
y = data['Exited']
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [27]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### ANN

In [28]:
import keras 
from keras.models import Sequential
from keras.layers import Dense

In [30]:
classifier = Sequential()

In [31]:
classifier.add(Dense(activation='relu',input_dim=11,units=8,kernel_initializer='uniform'))

In [32]:
classifier.add(Dense(activation='relu',units=6,kernel_initializer='uniform'))

In [33]:
classifier.add(Dense(activation='sigmoid',units=1,kernel_initializer='uniform'))

In [35]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [37]:
classifier.fit(X_train,y_train,batch_size=10,epochs= 100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\User\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\User\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

800/800 [==============================] - 4s 3ms/step - loss: 0.4814 - accuracy: 0.7986
Epoch 2/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.8231
Epoch 3/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4115 - accuracy: 0.8266
Epoch 4/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4054 - accuracy: 0.8315
Epoch 5/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3981 - accuracy: 0.8330
Epoch 6/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3884 - accuracy: 0.8364
Epoch 7/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3804 - accuracy: 0.8416
Epoch 8/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3747 - accuracy: 0.8445
Epoch 9/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3687 - accuracy: 0.8462
Epoch 10/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3651 - accuracy: 0.8491
Epoch 11/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3612 - accuracy: 0.8511
Epoch 12/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3554 - accuracy: 0.8539
Epoch 13/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3507 - accuracy: 0.8561
Epoch 14/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3461 - accuracy: 0.8565
Epoch 15/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3441 - accuracy: 0.8575
Epoch 16/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3411 - accuracy: 0.8587
Epoch 17/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3412 - accuracy: 0.8595
Epoch 18/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3395 - accuracy: 0.8604
Epoch 19/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3383 - accuracy: 0.8580
Epoch 20/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3382 - accuracy: 0.8593
Epoch 21/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3379 - accuracy: 0.8610
Epoch 22/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3376 - accuracy: 0.8586
Epoch 23/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3363 - accuracy: 0.8624
Epoch 24/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3367 - accuracy: 0.8608
Epoch 25/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3358 - accuracy: 0.8608
Epoch 26/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3351 - accuracy: 0.8612
Epoch 27/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3360 - accuracy: 0.8629
Epoch 28/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3349 - accuracy: 0.8626
Epoch 29/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3353 - accuracy: 0.8599
Epoch 30/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3355 - accuracy: 0.8618
Epoch 31/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3347 - accuracy: 0.8631
Epoch 32/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3341 - accuracy: 0.8620
Epoch 33/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3345 - accuracy: 0.8618
Epoch 34/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3343 - accuracy: 0.8626
Epoch 35/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3340 - accuracy: 0.8618
Epoch 36/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3329 - accuracy: 0.8626
Epoch 37/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3332 - accuracy: 0.8629
Epoch 38/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3328 - accuracy: 0.8625
Epoch 39/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3335 - accuracy: 0.8624
Epoch 40/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3330 - accuracy: 0.8600
Epoch 41/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3322 - accuracy: 0.8627
Epoch 42/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3326 - accuracy: 0.8637
Epoch 43/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3323 - accuracy: 0.8634
Epoch 44/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3322 - accuracy: 0.8621
Epoch 45/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3320 - accuracy: 0.8644
Epoch 46/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3314 - accuracy: 0.8643
Epoch 47/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3311 - accuracy: 0.8650
Epoch 48/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3314 - accuracy: 0.8612
Epoch 49/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3319 - accuracy: 0.8648
Epoch 50/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3315 - accuracy: 0.8626
Epoch 51/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3304 - accuracy: 0.8610
Epoch 52/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3314 - accuracy: 0.8636
Epoch 53/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3307 - accuracy: 0.8634
Epoch 54/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3303 - accuracy: 0.8651
Epoch 55/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3299 - accuracy: 0.8649
Epoch 56/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3306 - accuracy: 0.8659
Epoch 57/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3296 - accuracy: 0.8643
Epoch 58/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3294 - accuracy: 0.8645
Epoch 59/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3306 - accuracy: 0.8630
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3291 - accuracy: 0.8651
Epoch 61/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3292 - accuracy: 0.8645
Epoch 62/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3282 - accuracy: 0.8652
Epoch 63/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3297 - accuracy: 0.8639
Epoch 64/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3291 - accuracy: 0.8654
Epoch 65/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3292 - accuracy: 0.8630
Epoch 66/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3294 - accuracy: 0.8634
Epoch 67/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3291 - accuracy: 0.8651
Epoch 68/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3278 - accuracy: 0.8630
Epoch 69/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3276 - accuracy: 0.8662
Epoch 70/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3292 - accuracy: 0.8645
Epoch 71/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3282 - accuracy: 0.8643
Epoch 72/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3270 - accuracy: 0.8639
Epoch 73/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3287 - accuracy: 0.8629
Epoch 74/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3270 - accuracy: 0.8627
Epoch 75/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3278 - accuracy: 0.8661
Epoch 76/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3268 - accuracy: 0.8643

Epoch 77/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3276 - accuracy: 0.8639
Epoch 78/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3276 - accuracy: 0.8624
Epoch 79/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3279 - accuracy: 0.8652
Epoch 80/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3273 - accuracy: 0.8650
Epoch 81/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3278 - accuracy: 0.8640
Epoch 82/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3273 - accuracy: 0.8652
Epoch 83/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3272 - accuracy: 0.8648
Epoch 84/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3275 - accuracy: 0.8656
Epoch 85/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3277 - accuracy: 0.8650
Epoch 86/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3261 - accuracy: 0.8664
Epoch 87/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3269 - accuracy: 0.8637
Epoch 88/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3264 - accuracy: 0.8659
Epoch 89/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3267 - accuracy: 0.8646
Epoch 90/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3275 - accuracy: 0.8631
Epoch 91/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3268 - accuracy: 0.8669
Epoch 92/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3280 - accuracy: 0.8637
Epoch 93/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3270 - accuracy: 0.8640
Epoch 94/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3262 - accuracy: 0.8658
Epoch 95/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3258 - accuracy: 0.8650
Epoch 96/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3273 - accuracy: 0.8668
Epoch 97/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3261 - accuracy: 0.8646
Epoch 98/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3264 - accuracy: 0.8634
Epoch 99/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3269 - accuracy: 0.8627
Epoch 100/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3264 - accuracy: 0.8651

In [40]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 0s 2ms/step

In [43]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm= confusion_matrix(y_test,y_pred)
accuracy = accuracy_score(y_test,y_pred)
accuracy

0.867

In [44]:
cm

array([[1514,   81],
       [ 185,  220]], dtype=int64)